In [ ]:
from database import get_db_session
from models.customer import Customer
import polars as pl

def get_data_db():
    session = next(get_db_session())  # Get a session
    try:
        query = session.query(Customer).all()  # Fetch all results
        
        if not query:
            print("No data found.")
            return
        
        # Convert SQLAlchemy ORM objects to list of dictionaries
        data = [row.__dict__ for row in query]

        # Remove the `_sa_instance_state` key (internal SQLAlchemy attribute)
        for row in data:
            row.pop('_sa_instance_state', None)

        # Create a Polars DataFrame
        df = pl.DataFrame(data)
        
        return df
    finally:
        session.close()  # Always close the session

get_data_db()

shape: (123, 12)
┌────────────┬─────┬────────────┬────────────┬───┬────────────┬────────────┬───────────┬───────────┐
│ code       ┆ id  ┆ control_ac ┆ address_1  ┆ … ┆ second_com ┆ address_2  ┆ post_code ┆ id_type   │
│ ---        ┆ --- ┆ ---        ┆ ---        ┆   ┆ pany_name  ┆ ---        ┆ ---       ┆ ---       │
│ str        ┆ i64 ┆ str        ┆ str        ┆   ┆ ---        ┆ str        ┆ str       ┆ str       │
│            ┆     ┆            ┆            ┆   ┆ str        ┆            ┆           ┆           │
╞════════════╪═════╪════════════╪════════════╪═══╪════════════╪════════════╪═══════════╪═══════════╡
│ 300-1001   ┆ 1   ┆ 300-000    ┆            ┆ … ┆ null       ┆            ┆           ┆ NRIC      │
│ 300-1004   ┆ 2   ┆ 300-000    ┆            ┆ … ┆ null       ┆            ┆           ┆ NRIC      │
│ 300-1005   ┆ 3   ┆ 300-000    ┆            ┆ … ┆ null       ┆            ┆           ┆ NRIC      │
│ 300-1007   ┆ 4   ┆ 300-000    ┆            ┆ … ┆ null       ┆            ┆           ┆ NRIC      │
│ 300-1009   ┆ 5   ┆ 300-000    ┆            ┆ … ┆ null       ┆            ┆           ┆ NRIC      │
│ …          ┆ …   ┆ …          ┆ …          ┆ … ┆ …          ┆ …          ┆ …         ┆ …         │
│ 300-400-A0 ┆ 119 ┆ 300-000    ┆ KEMAHANG   ┆ … ┆ null       ┆            ┆ 27600     ┆ NRIC      │
│ 300-400-M0 ┆ 120 ┆ 300-000    ┆ KG BARU    ┆ … ┆ null       ┆            ┆ 27300     ┆ NRIC      │
│            ┆     ┆            ┆ BENTA      ┆   ┆            ┆            ┆           ┆           │
│ 300-A0001  ┆ 121 ┆ 300-000    ┆ KEMAHANG   ┆ … ┆ null       ┆            ┆ 27600     ┆ NRIC      │
│ 300-D0001  ┆ 122 ┆ 300-000    ┆ LOT PT     ┆ … ┆ null       ┆ null       ┆ 27300     ┆ BRN (New) │
│            ┆     ┆            ┆ 2561, KG   ┆   ┆            ┆            ┆           ┆           │
│            ┆     ┆            ┆ MELAYU     ┆   ┆            ┆            ┆           ┆           │
│            ┆     ┆            ┆ NABUN      ┆   ┆            ┆            ┆           ┆           │
│ 300-T0001  ┆ 123 ┆ 300-000    ┆ TIAN SIANG ┆ … ┆ null       ┆ JALAN      ┆ 32000     ┆ BRN (New) │
│            ┆     ┆            ┆ SQUARE     ┆   ┆            ┆ KAMPUNG    ┆           ┆           │
│            ┆     ┆            ┆            ┆   ┆            ┆ SITIAWAN   ┆           ┆           │
└────────────┴─────┴────────────┴────────────┴───┴────────────┴────────────┴───────────┴───────────┘

shape: (123, 12)
┌────────────┬─────┬────────────┬────────────┬───┬────────────┬────────────┬───────────┬───────────┐
│ code       ┆ id  ┆ control_ac ┆ address_1  ┆ … ┆ second_com ┆ address_2  ┆ post_code ┆ id_type   │
│ ---        ┆ --- ┆ ---        ┆ ---        ┆   ┆ pany_name  ┆ ---        ┆ ---       ┆ ---       │
│ str        ┆ i64 ┆ str        ┆ str        ┆   ┆ ---        ┆ str        ┆ str       ┆ str       │
│            ┆     ┆            ┆            ┆   ┆ str        ┆            ┆           ┆           │
╞════════════╪═════╪════════════╪════════════╪═══╪════════════╪════════════╪═══════════╪═══════════╡
│ 300-1001   ┆ 1   ┆ 300-000    ┆            ┆ … ┆ null       ┆            ┆           ┆ NRIC      │
│ 300-1004   ┆ 2   ┆ 300-000    ┆            ┆ … ┆ null       ┆            ┆           ┆ NRIC      │
│ 300-1005   ┆ 3   ┆ 300-000    ┆            ┆ … ┆ null       ┆            ┆           ┆ NRIC      │
│ 300-1007   ┆ 4   ┆ 300-000    ┆            ┆ … ┆ null       ┆            ┆           ┆ NRIC      │
│ 300-1009   ┆ 5   ┆ 300-000    ┆            ┆ … ┆ null       ┆            ┆           ┆ NRIC      │
│ …          ┆ …   ┆ …          ┆ …          ┆ … ┆ …          ┆ …          ┆ …         ┆ …         │
│ 300-400-A0 ┆ 119 ┆ 300-000    ┆ KEMAHANG   ┆ … ┆ null       ┆            ┆ 27600     ┆ NRIC      │
│ 300-400-M0 ┆ 120 ┆ 300-000    ┆ KG BARU    ┆ … ┆ null       ┆            ┆ 27300     ┆ NRIC      │
│            ┆     ┆            ┆ BENTA      ┆   ┆            ┆            ┆           ┆           │
│ 300-A0001  ┆ 121 ┆ 300-000    ┆ KEMAHANG   ┆ … ┆ null       ┆            ┆ 27600     ┆ NRIC      │
│ 300-D0001  ┆ 122 ┆ 300-000    ┆ LOT PT     ┆ … ┆ null       ┆ null       ┆ 27300     ┆ BRN (New) │
│            ┆     ┆            ┆ 2561, KG   ┆   ┆            ┆            ┆           ┆           │
│            ┆     ┆            ┆ MELAYU     ┆   ┆            ┆            ┆           ┆           │
│            ┆     ┆            ┆ NABUN      ┆   ┆            ┆            ┆           ┆           │
│ 300-T0001  ┆ 123 ┆ 300-000    ┆ TIAN SIANG ┆ … ┆ null       ┆ JALAN      ┆ 32000     ┆ BRN (New) │
│            ┆     ┆            ┆ SQUARE     ┆   ┆            ┆ KAMPUNG    ┆           ┆           │
│            ┆     ┆            ┆            ┆   ┆            ┆ SITIAWAN   ┆           ┆           │
└────────────┴─────┴────────────┴────────────┴───┴────────────┴────────────┴───────────┴───────────┘

In [30]:
import fastexcel as fex
import polars as pl
from typing import List

data_file_ = """C:/Users/D&B Trading/Downloads/Maintain Customer.xlsx"""

file = fex.read_excel(data_file_)
sheets = file.sheet_names

def pre_import_data_db(file: bytes, sheet_name: str = 'Maintain Customer') -> List[Customer]:
    session = next(get_db_session())
    df = pl.read_excel(file, sheet_name=sheet_name).rename({
        'Code': 'code',
        'Control A/C': 'control_ac',
        'Company Name': 'company_name',
        '2nd Company Name': 'second_company_name',
        'Address 1': 'address_1',
        'Address 2': 'address_2',
        'Address 3': 'address_3',
        'Post Code': 'post_code',
        'TIN': 'tin',
        'ID Type': 'id_type',
        'ID No': 'id_no'
    }).drop_nulls(subset=['code', 'company_name'])
    customer_list: List[Customer] = []
    
    for row in df.to_dicts():
        check_exist = session.query(Customer).filter(Customer.code == row.get('code')).first()
        if check_exist:
            continue
        customer = Customer(**row)
        customer_list.append(customer)
    return customer_list

def import_data_db(data: List[Customer]):
    session = next(get_db_session())
    try:
        session.add_all(data)
        session.commit()
        print(f"Succesfully imported {len(data)} records")
    finally:
        session.close()

    
data = pre_import_data_db(data_file_)
import_data_db(data)

Succesfully imported 123 records